cython
notebook
jupyterlab
pandas
matplotlib
sympy  
bash_kernel
yapf
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator 
ipywidgets
dask
toolz
cloudpickle 
distributed
dockerspawner
netifaces
ipyparallel
six>-1.11.0
jupyter_contrib_nbextensions
alembic
async_generator>=1.8
entrypoints
traitlets>=4.3.2
tornado>=5.0
jinja2
pamela
oauthlib==2.1.0     
python-dateutil
SQLAlchemy>=1.1
requests
prometheus_client>=0.0.21
certipy>=0.1.2
